[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "simPop"]
	path = simPop
	url = https://github.com/statistikat/simpop
[submodule "surveysd"]
	path = surveysd
	url = https://github.com/statistikat/surveysd
[submodule "tatoo"]
	path = tatoo
	url = https://github.com/statistikat/tatoo
[submodule "VIM"]
	path = VIM
	url = https://github.com/statistikat/vim
[submodule "x12"]
	path = x12
	url = https://github.com/statistikat/x12
